.buttonShared {
  margin-bottom: 1rem;
  margin-right: 1rem;
  position: relative;
  background-color: rgb(177, 54, 171);
  border-radius: 4em;
  font-size: 15px;
  color: white;
  padding: 0.5em 1.5em;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  border: none;
}

.buttonShared:hover {
  transition-duration: 0.1s;
  background-color: #744692;
}

.buttonShared:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.buttonShared:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.buttonShared:active {
  top: 1px;
}

.buttonShared:disabled {
  background: #dddddd;
  pointer-events: none;
  box-shadow: none;
  color: grey;
}
