@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;600&display=swap');

.notFoundContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #101014;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: 'Chakra Petch', sans-serif;
  color: white;
  background-image: url(../../assets/asfalt-light.png);
}

.notFoundTextContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.firstText {
  margin-bottom: 10rem;
}

.secondText {
  margin-bottom: 2rem;
}

.thirdText {
  margin-bottom: 7rem;
  width: 100%;
}

.notFoundImg {
  width: 65%;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .notFoundContainer {
    width: 100vw;
    height: 100vh;
  }
  .notFoundTextContainer {
    align-items: center;
    margin-bottom: 0;
    margin-left: 1rem;
  }
  .textContainer {
    margin-bottom: 0;
  }
  .firstText {
    margin-bottom: 0;
  }
  .secondText {
    margin-bottom: 0;
  }

  .thirdText {
    margin-bottom: 0;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  .notFoundImg {
    width: 100%;
    height: auto;
  }
}
