.listContainer {
  display: flex;
  justify-content: space-between;
  color: rgb(165, 182, 69);
  background-color: black;
  font-size: 1.5rem;
}

@media (max-width: 1000px) {
  .listContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(165, 182, 69);
    background-color: black;
    height: 100vh;
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 900px) {
}
