.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #17161d;
}

.logo {
  font-family: 'Roboto', sans-serif;
  color: #1bfd9c;
  font-size: 40px;
}

.loginBox {
  display: flex;
  width: 45%;
  height: 55%;
  background-color: #101014;
  font-family: 'Lato', sans-serif;
}

.signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #101014;
  color: #1bfd9c;
}

.signIn h1 {
  font-weight: 100;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.signIn label {
  height: 30px;
  width: 80%;
  margin: 10px;
  padding: 10px;
}

.signIn input {
  height: 30px;
  width: 90%;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 20px;
}

.signUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #1bfd9c;
}

@media (max-width: 1300px) {
  .container {
    height: auto;
  }
  .loginBox {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: auto;
    background-color: #101014;
    font-family: 'Lato', sans-serif;
  }

  .signIn {
    width: 100%;
  }

  .signUp {
    margin-top: 50px;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .logo {
    font-size: 25px;
  }

  .loginBox {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: auto;
    background-color: #101014;
    font-family: 'Lato', sans-serif;
    border-radius: 40px;
  }

  .signIn {
    width: 100%;
  }

  .signUp {
    margin-top: 50px;
    width: 100%;
  }
}
