.containerReport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gold;
  font-weight: bold;
  font-size: 30px;
  background-color: black;
  width: 95%;
  height: 10%;
}
